<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

<h1>🚀 Social Productivity Dashboard</h1>

<div class="stats">

    <div class="stat-box">
        <h3>120</h3>
        <p>Total Points</p>
    </div>

    <div class="stat-box">
        <h3>12</h3>
        <p>Completed Tasks</p>
    </div>

    <div class="stat-box">
        <h3>5</h3>
        <p>Active Challenges</p>
    </div>

</div>

<div class="card">

<h2>Add New Task</h2>

<input
type="text"
id="taskInput"
placeholder="Enter Task">

<button onclick="addTask()">
Add Task
</button>

<ul id="taskList"></ul>

</div>

<a href="/leaderboard">
<button>🏆 View Leaderboard</button>
</a>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>